extends ../layout

block content
    div.top
        form.form-horizontal(id="loginForm")
            label Username
            input.span3(id="username",
                        type="text",
                        name="User",
                        value= user ? user.username : '',
                        placeholder="Enter your username")
            label Password
            input.span3(id="password", type="password", name="Password", value= password ? #{user.password} : '',)
            input.btn(type="submit", value="Log In")
