//
   Created with JetBrains WebStorm.
   User: toulon
   Date: 7/6/13
   Time: 7:55 PM
   To change this template use File | Settings | File Templates.

extends ../layout
block content
    div.container
        div.content
            table.table.table-striped.table-bordered#example
                thead
                    tr
                        th Tapes
                tbody
                    for i in result
                        tr
                            td #{i.name}
                            td #{i.label}
                            td #{i.created}
                            td #{i.type}
                            td #{i.status}
                            td #{i.id}
    dif.footer